{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <title>Home</title>
        <meta http-equiv="refresh" content="0; url='{{ 'home_ta.html' }}' ">
    </head>

<style>
.welcomeNote{
        font-family: Arial, Helvetica, sans-serif;
        color: #ff6600;
        font-size:25px;
}
a{
        text-decoration:none;
        color:#006699;

}
h4.modules {
    font-family: Arial, Helvetica, sans-serif;
}
div.front{
    margin-left:40%;
}
    
    
</style>

<body>
    <h1> Deleted </h1>
</body>
</html>

{% endblock %}
