{% block content %}
{% load staticfiles %}

<!DOCTYPE html>
<head>
    <title>Marks</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/putmar.css' %}">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    
    
    
</head>





<body style="background-color:#2b2b2b;" onload="draw()">
        <div class="se-pre-con"></div>
        <h1> &emsp;</h1>
        <div class="table-title">
            <h3>Marks</h3>
            <br>
        </div>
        <div>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-center"><b>Code<b></th>
                        <th class="text-center"><b>Subject<b></th>
                        <th class="text-center"><b>Marks<b></th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-center">{{ datas.0.0 }}</a></td>
                        <td class="text-center">{{ datas.1.0.0 }}</a></td>
                        <td class="text-center"><a class="mar" id="sub1b" style="color:black">{{ datas.2.0 }}</a></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ datas.0.1 }}</a></td>
                        <td class="text-center">{{ datas.1.1.0 }}</a></td>
                        <td class="text-center"><a class="mar" id="sub2b" style="color:black">{{ datas.2.1 }}</a></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ datas.0.2 }}</a></td>
                        <td class="text-center">{{ datas.1.2.0 }}</a></td>
                        <td class="text-center"><a  class="mar" id="sub3b" style="color:black">{{ datas.2.2 }}</a></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ datas.0.3 }}</a></td>
                        <td class="text-center">{{ datas.1.3.0 }}</a></td>
                        <td class="text-center"><a class="mar" id="sub4b" style="color:black">{{ datas.2.3 }}</a></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ datas.0.4 }}</a></td>
                        <td class="text-center">{{ datas.1.4.0  }}</a></td>
                        <td class="text-center"><a class="mar" id="sub5b" style="color:black" >{{ datas.2.4 }}</a></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ datas.0.5 }}</a></td>
                        <td class="text-center">{{ datas.1.5.0 }}</a></td>
                        <td class="text-center"><a class="mar" id="sub6b" style="color:black" >{{ datas.2.5 }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        <div class="footr">
            <br><br><br>
<!--            <h2 class="greet">"{{ datas }}"</h2>-->
            <br><br>
            <a class="btmbar" href=" {{ 'red.html' }}"> Go Back </a><a class="sep"><b>|</b></a><a class="btmbar" href=" {{ 'headtest.html' }}"> Sign Out</a>
<!--            <a class="footr1"  href=" {{ 'red.html' }}"> Go Back </a><a class="footr1" href=" {{ 'headtest.html' }}"> Sign Out </a>-->
        </div>
        
        
        
        

 
        <!-- subject 1 info-->
        <div id="myModal1" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.0.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks :&emsp; {{ datas.2.0 }} </h1>
                    <h3>External :&emsp; {{datas.4.0}} </h3>
                    <h3>Internal &nbsp; :&emsp; {{ datas.3.0 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart1" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        
        
        <div id="myModal2" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.1.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks : &emsp;{{ datas.2.1 }} </h1>
                    <h3>External :&emsp; {{datas.4.1}} </h3>
                    <h3>Internal &nbsp; :&emsp;{{ datas.3.1 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart2" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        
        
        <div id="myModal3" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.2.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks :&emsp; {{ datas.2.2 }} </h1>
                    <h3>External :&emsp; {{datas.4.2}} </h3>
                    <h3>Internal&nbsp; :&emsp; {{ datas.3.2 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart3" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        
        
        <div id="myModal4" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.3.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks :&emsp; {{ datas.2.4 }} </h1>
                    <h3>External : &emsp;{{datas.4.4}} </h3>
                    <h3>Internal &nbsp; : &emsp; {{ datas.3.4 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart4" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        
        
        <div id="myModal5" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.4.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks : &emsp;{{ datas.2.5 }} </h1>
                    <h3>External : &emsp;{{datas.4.5}} </h3>
                    <h3>Internal &nbsp; : &emsp; {{ datas.3.5 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart5" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        
        <div id="myModal6" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>{{ datas.1.5.0 }}</h2>
                </div>
                <div class="modal-body">
                    <h1>Marks :&emsp; {{ datas.2.6 }} </h1>
                    <h3>External : {{datas.4.6}} </h3>
                    <h3>Internal&nbsp;: &emsp;{{ datas.3.6 }} </h3>
                </div>
                <div style="width:400px;height:400px;margin-left:8%;margin-top:20%;">
                    <canvas id="myChart6" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>


<script>
            // Get the modal
            var modal1 = document.getElementById('myModal1');
            var modal2 = document.getElementById('myModal2');
            var modal3 = document.getElementById('myModal3');
            var modal4 = document.getElementById('myModal4');
            var modal5 = document.getElementById('myModal5');
            var modal6 = document.getElementById('myModal6');
            
            // Get the button that opens the modal
           var abtn1 = document.getElementById("sub1b");
           var abtn2 = document.getElementById("sub2b");
           var abtn3 = document.getElementById("sub3b");
           var abtn4 = document.getElementById("sub4b");
           var abtn5 = document.getElementById("sub5b");
           var abtn6 = document.getElementById("sub6b");
            
            // Get the <span> element that closes the modal
            var span1 = document.getElementsByClassName("close")[0];
            var span2 = document.getElementsByClassName("close")[1];
            var span3 = document.getElementsByClassName("close")[2];
            var span4 = document.getElementsByClassName("close")[3];
            var span5 = document.getElementsByClassName("close")[4];
            var span6 = document.getElementsByClassName("close")[5];
            
            
            // When the user clicks the button, open the modal
        
        abtn1.onclick = function() {
            modal1.style.display = "block";
        }
        abtn2.onclick = function() {
            modal2.style.display = "block";
        }
        abtn3.onclick = function() {
            modal3.style.display = "block";
        }
        abtn4.onclick = function() {
            modal4.style.display = "block";
        }
        abtn5.onclick = function() {
            modal5.style.display = "block";
        }
        abtn6.onclick = function() {
            modal6.style.display = "block";
        }
        

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
            modal1.style.display = "none";
        }
        span2.onclick = function() {
            modal2.style.display = "none";
        }
        span3.onclick = function() {
            modal3.style.display = "none";
        }
        span4.onclick = function() {
            modal4.style.display = "none";
        }
        span5.onclick = function() {
            modal5.style.display = "none";
        }
        span6.onclick = function() {
            modal6.style.display = "none";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            if (event.target == modal3) {
                modal3.style.display = "none";
            }
            if (event.target == modal4) {
                modal4.style.display = "none";
            }
            if (event.target == modal5) {
                modal5.style.display = "none";
            }
            if (event.target == modal6) {
                modal6.style.display = "none";
            }
        }





var array1 = {{ datas.6 }};
var size0x1= {{ datas.7.0 }};
var range0x1 = new Array(size0x1);
var xox1 = {{ datas.8.0 }};
var rem1 = parseInt(xox1);
for(var i1=0;i1<size0x1;i1++)
{
    if(parseInt(xox1/10) == parseInt(array1[i1]/10))
    {
        rem1 = i1;
        break;
    }
}
range0x1[rem1] = "You"
var ctx1 = document.getElementById("myChart1");
var myChart1 = new Chart(ctx1, {
                        type: 'line',
                        data: {
                        labels: range0x1,
                        datasets: [{
                                  labels: ' ',
                                   data: array1 ,
                                   backgroundColor: [
                                                     'rgba(230, 92, 0,0.5)'
                                                     ],
                                   borderColor: [
                                                 'rgba(255,99,132,1)',
                                                 'rgba(54, 162, 235, 1)',
                                                 'rgba(255, 206, 86, 1)',
                                                 'rgba(75, 192, 192, 1)',
                                                 'rgba(153, 102, 255, 1)',
                                                 'rgba(255, 159, 64, 1)'
                                                 ],
                                   borderWidth: 1
                                   }]
                        },
                        options: {
                        scales: {
                        yAxes: [{
                                ticks: {
                                beginAtZero:false
                                }
                                }]
                        }
                        }
});



var array2 = {{ datas.6 }};
var size0x2= {{ datas.7.1 }}
var range0x2 = new Array(size0x2);
var xox2 = {{ datas.8.1 }};
var rem2 = parseInt(xox2);
for(var i2=0;i2<size0x2;i2++)
{
    if(parseInt(xox2/10) == parseInt(array2[i2]/10))
    {
        rem2 = i2;
        break;
    }
}

range0x2[rem2] = "You"
var ctx2 = document.getElementById("myChart2");
var myChart2 = new Chart(ctx2, {
                         type: 'line',
                         data: {
                         labels: range0x2,
                         datasets: [{
                                    labels: ' ',
                                    data: array2 ,
                                    backgroundColor: [
                                                      'rgba(230, 92, 0,0.5)'
                                                      ],
                                    borderColor: [
                                                  'rgba(255,99,132,1)',
                                                  'rgba(54, 162, 235, 1)',
                                                  'rgba(255, 206, 86, 1)',
                                                  'rgba(75, 192, 192, 1)',
                                                  'rgba(153, 102, 255, 1)',
                                                  'rgba(255, 159, 64, 1)'
                                                  ],
                                    borderWidth: 1
                                    }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero:false
                                 }
                                 }]
                         }
                         }
                         });

var array3 = {{ datas.6 }};
var size0x3= {{ datas.7.2 }}
var range0x3 = new Array(size0x3);
var xox3 = {{ datas.8.2 }};
var rem3 = parseInt(xox3);
for(var i3=0;i3<size0x3;i3++)
{
    if(parseInt(xox3/10) == parseInt(array3[i3]/10))
    {
        rem3 = i3;
        break;
    }
}

range0x3[rem3] = "You"
var ctx3 = document.getElementById("myChart3");
var myChart3 = new Chart(ctx3, {
                         type: 'line',
                         data: {
                         labels: range0x3,
                         datasets: [{
                                    labels: ' ',
                                    data: array3 ,
                                    backgroundColor: [
                                                      'rgba(230, 92, 0,0.5)'
                                                      ],
                                    borderColor: [
                                                  'rgba(255,99,132,1)',
                                                  'rgba(54, 162, 235, 1)',
                                                  'rgba(255, 206, 86, 1)',
                                                  'rgba(75, 192, 192, 1)',
                                                  'rgba(153, 102, 255, 1)',
                                                  'rgba(255, 159, 64, 1)'
                                                  ],
                                    borderWidth: 1
                                    }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero:false
                                 }
                                 }]
                         }
                         }
                         });

var array4 = {{ datas.6 }};
var size0x4= {{ datas.7.3 }}
var range0x4 = new Array(size0x4);
var xox4 = {{ datas.8.3 }};
var rem4 = parseInt(xox4);
for(var i4=0;i4<size0x4;i4++)
{
    if(parseInt(xox4/10) == parseInt(array4[i4]/10))
    {
        rem4 = i4;
        break;
    }
}

range0x4[rem4] = "You"
var ctx4 = document.getElementById("myChart4");
var myChart4 = new Chart(ctx4, {
                         type: 'line',
                         data: {
                         labels: range0x4,
                         datasets: [{
                                    labels: ' ',
                                    data: array4 ,
                                    backgroundColor: [
                                                      'rgba(230, 92, 0,0.5)'
                                                      ],
                                    borderColor: [
                                                  'rgba(255,99,132,1)',
                                                  'rgba(54, 162, 235, 1)',
                                                  'rgba(255, 206, 86, 1)',
                                                  'rgba(75, 192, 192, 1)',
                                                  'rgba(153, 102, 255, 1)',
                                                  'rgba(255, 159, 64, 1)'
                                                  ],
                                    borderWidth: 1
                                    }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero:false
                                 }
                                 }]
                         }
                         }
                         });

var array5 = {{ datas.6 }};
var size0x5= {{ datas.7.4 }}
var range0x5 = new Array(size0x5);
var xox5 = {{ datas.8.4 }};
var rem5 = parseInt(xox5);
for(var i5=0;i5<size0x5;i5++)
{
    if(parseInt(xox5/10) == parseInt(array5[i5]/10))
    {
        rem5 = i5;
        break;
    }
}

range0x5[rem5] = "You"
var ctx5 = document.getElementById("myChart5");
var myChart5 = new Chart(ctx5, {
                         type: 'line',
                         data: {
                         labels: range0x5,
                         datasets: [{
                                    labels: ' ',
                                    data: array5 ,
                                    backgroundColor: [
                                                      'rgba(230, 92, 0,0.5)'
                                                      ],
                                    borderColor: [
                                                  'rgba(255,99,132,1)',
                                                  'rgba(54, 162, 235, 1)',
                                                  'rgba(255, 206, 86, 1)',
                                                  'rgba(75, 192, 192, 1)',
                                                  'rgba(153, 102, 255, 1)',
                                                  'rgba(255, 159, 64, 1)'
                                                  ],
                                    borderWidth: 1
                                    }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero:false
                                 }
                                 }]
                         }
                         }
                         });

var array6 = {{ datas.6 }};
var size0x6= {{ datas.7.5 }}
var range0x6 = new Array(size0x6);
var xox6 = {{ datas.8.5 }};
var rem6 = parseInt(xox6);
for(var i6=0;i6<size0x6;i6++)
{
    if(parseInt(xox6/10) == parseInt(array6[i6]/10))
    {
        rem6 = i6;
        break;
    }
}

range0x6[rem5] = "You"
var ctx6 = document.getElementById("myChart6");
var myChart6 = new Chart(ctx6, {
                         type: 'line',
                         data: {
                         labels: range0x6,
                         datasets: [{
                                    labels: ' ',
                                    data: array6 ,
                                    backgroundColor: [
                                                      'rgba(230, 92, 0,0.5)'
                                                      ],
                                    borderColor: [
                                                  'rgba(255,99,132,1)',
                                                  'rgba(54, 162, 235, 1)',
                                                  'rgba(255, 206, 86, 1)',
                                                  'rgba(75, 192, 192, 1)',
                                                  'rgba(153, 102, 255, 1)',
                                                  'rgba(255, 159, 64, 1)'
                                                  ],
                                    borderWidth: 1
                                    }]
                         },
                         options: {
                         scales: {
                         yAxes: [{
                                 ticks: {
                                 beginAtZero:false
                                 }
                                 }]
                         }
                         }
                         });


</script>
        
    </body>

    
    </html>
    
{% endblock %}

